@header-breakpoint: 700px;

/* color palette from <https://github.com/vuejs/theme> */
:root {
    --background-light: white;
    --secondary-background-light: #f0f0f0;
    --background-dark: #353535;
    --secondary-background-dark: #2a2a2a;
    --primary-button-light: #ccc;
    --primary-button-light-text: black;

    --text-light: black;
    --secondary-text-light: #333;
    --text-dark: white;
    --secondary-text-dark: #ccc;
    --primary-button-dark: #444;
    --primary-button-dark-text: white;

    --link-light: blue;
    --link-dark: lightblue;

    --border-radius: 20px;

    --header-breakpoint: @header-breakpoint;
}

:root {
    --color-background: var(--background-dark);
    --color-secondary-background: var(--secondary-background-dark);
    --color-text: var(--text-dark);
    --color-secondary-text: var(--secondary-text-dark);
    --color-link: var(--link-dark);
    --color-primary-button: var(--primary-button-dark);
    --color-primary-button-text: var(--primary-button-dark-text);
    color-scheme: dark;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: var(--background-light);
        --color-secondary-background: var(--secondary-background-light);
        --color-text: var(--text-light);
        --color-secondary-text: var(--secondary-text-light);
        --color-link: var(--link-light);
        --color-primary-button: var(--primary-button-light);
        --color-primary-button-text: var(--primary-button-light-text);
        color-scheme: light;
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition-duration: 25ms !important;
        animation-duration: 25ms !important;
    }
}

@font-face {
    font-family: Code;
    src: local("Cascadia Code"), url("https://fonts.fambout.nl/CascadiaCode/CascadiaCode.ttf") format("truetype"),
        local("Cascadia Mono"), monospace;
}

* {
    text-wrap: pretty;
    color: var(--color-text);
    &,
    ::before,
    ::after {
        box-sizing: border-box;
        margin: 0;
        position: relative;
        font-weight: normal;
    }

    &:focus-visible {
        outline: 2px dashed var(--color-link);
        outline-offset: 4px;
        outline-style: dashed;
        z-index: 100;
    }
}

.link,
a {
    color: inherit;
    border: none;
    background-color: inherit;
    margin: none;
    padding: none;
    font: inherit;
    display: inline;
    padding: unset;
    cursor: pointer;
    text-decoration: none;
    @media (hover: hover) {
        &:hover {
            text-decoration: underline;
            color: var(--color-link);
        }
    }
}

h1 {
    text-align: center;
}

.page-root {
    margin: 10px;
    margin-top: 50px;

    max-width: 1000px;
}
